* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .form-renglon {
    /* background-color: red; */
    height: 90vh;
  }

  form {
    /* background-color: skyblue; */
    padding: 50px;
    
  }

  form .mensaje {
    min-height: 150px;
    max-height: 150px;
  }

  /* Nosotros */

  .seccion-secundaria {
      height: 100vh;
  }

  section img {
      width: auto;
      height: 250px;
  }