@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header_nav{
    
    background-color: #414141;
    height: 70px;
    
}

.button_menu{
    text-decoration: none;
    border: 1px solid #d0d0d0;
}

.card__container {
    width: 90%;
    margin: 0 auto;
  }

.card {
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #888585;
  }