*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(151,193,81,1) 0%, rgba(255,255,255,1) 100%);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #f1f1f1;
}

.logo_header {
  height: 7rem;
  width: 100%;
  background-size:50px;
  background-repeat: no-repeat;
  background-image: url(./img/bg1.png);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 7rem;
  width: 100%;
  background-size: 100px;
  background-repeat:no-repeat;
  background-image: url(./img/bg1.png);
  background-position: bottom center;
}