.color{
    color:orange;
    font-size: larger;
}

.versus{
    color: red;
    font-size: larger;
}

.texto{
    color:green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}