@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: auto;
  height: 100vh;
}

.encabezado {
  background-color: #050505;
  width: auto;
  height: 8%;
  position: relative;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 0 10px rgba(0, 0,0,.6);
}

.box {
  width: auto;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.box nav a {
    padding: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 1rem;
    font-size: 20px;
  }
  .box a:hover, a.activate{
      border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: .4s;
  }

  .principal{
    height: 45vw;
    width: 100%;
    background: rgb(150,176,207);
    background: linear-gradient(90deg, rgba(150,176,207,1) 0%, rgba(203,195,231,0.5859477580094538) 86%);
    background-position: center;

}

p.copy{
  margin-top: 50px;
  margin-left: 50px;
 font-size: medium;
 font-family: 'Montserrat Alternates', sans-serif;
 text-align: justify;
}

.title h2{
   font-size: small;
}

.container{
 margin-top: 20px;
  height:100px;
  width:100px;
}

.container-grid{
  padding: 10%;
  margin:auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 0fr 0.8fr;
grid-column-gap: 18px;
grid-row-gap: 0px; 
}

.container-grid div img {
width: 130px;
height: 130px;
position: relative;
margin:8px auto;
display:block;
}
