@import url ('https://fonts.googleapis.com/css2? family = Noto + Sans & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}

.nav{
    background-color: brown;
    height: 80px;
}
.containerdiv{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.link{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.link:hover{
    color: lightsalmon;

}
.logo{
    height: 90px;
    left: 30px;
    top: 0px;
    position: absolute;
 }
 .logo:hover{
    transform: scale(1.5);
 }

 .imagen{
    height: 105vh;
    width: 100%;
}
.section{
    background-image: url(/imagenes/tapete4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.textos{
    display: flex;
    align-items: center;
    height: calc(100vh - 30px);
    color: beige;
    padding: 10px 10px;
 }
 .h1{
    font-size: 3.5rem;
    flex-wrap: wrap;
    width: 80%;
    padding: 30px 10px 0px 10px;
 }
 .h2{
     font-size: 2rem;
     flex-wrap: wrap;
     width: 60%;
     padding: 20px 10px 30px 10px;
 }
.boton{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    background-color: rgb(59, 14, 14);
    color: beige;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
}

.boton:hover{
    background-color: brown;
    width: 500px;
}
.boton1{
    display: flex;
    float: left;
    justify-content: center;
    width: 300px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}
.boton2{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgb(59, 14, 14);
    color: beige;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
    margin top: 10px;
}
.boton2:hover{
    background-color: brown;
}
 .tex{
    font-size: 1rem;
    flex-wrap: wrap;
    width: 60%;
    padding: 30px 10px;
 }
.trajes{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
/* .section1{
    height: 100vh;
}  */
.container2{
    text-align: center;
    padding: 20px;
}
.texh2{
    font-size: 1rem;
 }
 .texh3{
     font-size: 2rem;
     padding: 20px;
 }
 .h3{
     font-size: 1.3rem;
     color: gray;
     margin-bottom: 10px;
 }
 .section1{
    height: 80vh;
    width: 90%;
    margin-top: 40px;
    margin: 0 auto;
    position: relative;
 }

 .cards{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
 }
 .card1{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 70vh;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
 }
 .foto1{
    background-image: url(/imagenes/imagen1.png);
    background-size: 376px 200px;
    background-repeat: no-repeat;
    background-clip: border-box;
 }
 .foto2{
    background-image: url(/imagenes/imagen2.png);
    background-size: 376px 200px;
    background-repeat: no-repeat;
    background-clip: border-box;
 }
 .foto3{
    background-image: url(/imagenes/imagen3.png);
    background-size: 376px 200px;
    background-repeat: no-repeat;
    background-clip: border-box;
 }
 .tex_card{
    position: relative;
    text-align: justify;
    top: 200px;
    }
    .titulo{
    font-size: 1rem;
    }
    .titulo2{
    font-size: 1.5rem;
    padding-bottom: 10px;
    }
    .contenido{
    font-size: 1.3;
    color: gray;
    padding-bottom: 30px;
    }

    .tex_card1{
    position: relative;
    }
    .card1:hover{
        background-color: burlywood;
        color: brown;
      }
    .autor{
    background-image: url(/imagenes/regiones.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 150%;
    border: 2px solid black;
    position: absolute;
    top: 190px;
     }
    .link_card{
    position: absolute;
    top: 200px;
    left: 90px;
     }
    .card_a{
        text-decoration: none;
        color: gray;
    }

     .dato{
    display: block;
    }
    .section2{
        height: 100vh;
        margin: auto;
    }
    .parte3{
    background-color: rgb(170, 63, 63);
    background-size: 100%;
    position: relative;
    }
    .div_imagen3{
    background-image: url(/imagenes/collage3.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-size: contain;
    transition: all ease 1250ms;
    transform-style: preserve-3d;
    }
    .div_imagen3:hover{
    background-image: url(/imagenes/alternativa.png);
    }
    .div_parrafo{
        position: absolute;
        left: 650px;
        top: 150px;
        color: beige;
        padding: 10px 10px;
    }
  
    .titulo_3{
        padding-bottom: 10px;
    }
    .titulo33{
        font-size: 2.3rem;
        padding-bottom: 10px;

    }
    .ultimo_parrafo{
        font-size: 1.3rem;
        line-height: 2rem;
        padding-bottom: 10px;

    }
    .boton33{
        padding-top: 10px;
    }
    .container-footer{
        height: 50vh;
        margin: auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .footer{
        background-color: white;
        padding: 60px 0;
    }
    ul{
        list-style: none;
    }
    .footer-col{
        width: 20%;
        padding: 0 60px;
    }
    .h4{
        font-size: 18px;
        color: grey;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .footer-ul{
        font-size: 15px;
        color: grey;
    }
    .link1{
        padding-bottom: 30px;
        cursor: pointer;
    }
    .fab{
        color: gray;
        padding-right: 10px;
        font-size: 1.5rem;
    }
    .h4:hover{
        color: black;
    }
    .fab:hover{
        color: black;
    }
    .link1:hover{
        color: black;
    }
    .div-cr{
        width: 100%;
    }
    .hr{
        width: 100%;
        /* padding-bottom: 20px; */
    }
    .cr{
        text-align: center;
        color: gray;
        margin-top: 30px;

    }







    


