*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic"
}
.nav{
   text-align: right;
   background-color: #A0EAC0;
}

.nav-li{
    display: inline-block; 
    margin: 0 30px;
    padding: 10px 40px;
    border-radius: 15px;
}

.nav-li a{
    text-decoration: none;
}

.selection{
    background-color: #B052AF;
}

#section1{
    background-image: url("../images/imagenFondo.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}



/*NOSOTROS*/
#nosotros{
    text-align: center;
    height: 100vh;
    background-color: #66D4DE;
}


.nosotros-p{
    padding: 80px;
    text-align: justify;
}

#nosotros article{
    width: 25%;
    margin: 80px 20px;
    display:  inline-block;
    text-align: justify;
    border: solid black 2px;
}


#nosotros article p{
    padding: 0 20px;

}

#nosotros article header img{
    width: 100%;
    border-bottom: solid black 2px;
}



/*CONTACTO*/


#contacto form{
    width: 400px;
    padding: 80px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #00BBB2;
}


.input-text, 
#contacto form textarea{
    padding: 10px 0;
    margin: 10px 0;    
    width: 100%;
}

.input-submit{
    padding: 10px 20px;
    float: right;
}

@media (max-width: 620px) {

.nav{
    text-align: left;
}

.nav-li{
    margin: 0;
    padding: 10px 10px;
}    


    
/*NOSOTROS*/

#nosotros article{
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*CONTACTO*/
#contacto form{
    width: 90%;
    padding: 20px 20px 60px 20px;
    margin-top: 40px;  
}

.nosotros-p{
    padding: 20px;
}


}